
<mat-card style="background-color: #002339; display: flex; justify-content: center">
    <mat-card-header style="display: flex; justify-content: center">
        <h1>Saved Passwords</h1>
    </mat-card-header>

    <mat-card-content style="background-color: #002339; display: flex; justify-content: center">

        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
               style="width: 80%; text-align: center; gap: 10px;border: white solid; font-size: medium">
            <thead>
                <th>Name</th>
                <th>Numbers</th>
                <th>Special Characters</th>
                <th>Uppercase letters</th>
                <th>Lowercase letters</th>
                <th>Length</th>
                <th>Password</th>
            </thead>
            <tbody>
              @for (dto of dtos(); track dto){
                <tr>
                  <td>{{dto.name}}</td>
                  <td>{{dto.hasNumbers}}</td>
                  <td>{{dto.hasSpecialChars}}</td>
                  <td>{{dto.hasUpperCase}}</td>
                  <td>{{dto.hasLowerCase}}</td>
                  <td>{{dto.length}}</td>
                  <td>{{dto.password}}</td>
                </tr>
              }
            </tbody>
        </table>

    </mat-card-content>

  <div style="width: 87%; display: flex; justify-content: end; gap: 20px; margin-bottom: 30px">
    <a style="cursor: pointer" *ngIf="hasPre()" (click)="renderPage(currentPage() - 1)">prev</a>
    <a style="cursor: pointer" *ngIf="hasNext()" (click)="renderPage(currentPage() + 1)">next</a>
  </div>
</mat-card>
